---
import { Image } from "@astrojs/image/components"
import { importImage } from "src/lib/importImage";

export interface Props {
	gallery: {
		title: string;
		thumbnail: string;
		alt: string;
	}[]
}

const { gallery } = Astro.props as Props;
---

<script>
	const images = document.querySelectorAll(".gallery > img");
	function updateImage(prev, next) {
		addClass(next);
		removeClass(prev);

		prev = next;

		if (++next >= images.length) next = 0;

		setTimeout(() => updateImage(prev, next), 5000)
	}

	function addClass(index) {
		images[index]?.classList.add("visible");
	}

	function removeClass(index) {
		images[index]?.classList.remove("visible");
	}

	setTimeout(() => updateImage(0, 1), 5000)
</script>

<div class="gallery">
	{gallery.map(({thumbnail, alt}, index) => (
		<Image src={importImage(thumbnail)} alt={alt}  loading="lazy" width={1000} aspectRatio="1:1" class={index === 0 ? "visible" : ""}/>
	))}
</div>

<style>
	.gallery {
		position: relative;
		height: 100%;
		width: 100%;
		z-index: -1;
	}

	img {
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;

		opacity: 0;
		transition: opacity 400ms;

		&.visible {
			opacity: 1;
		}
	}
</style>
