---
import { Picture } from "@astrojs/image/components"

export interface Props {
	gallery: {
		title: string;
		thumbnail: string;
		alt: string;
	}[]
}

const { gallery } = Astro.props as Props;
---
<div class="container">
	<Image src=
</div>
