<script>
	import CMS from 'netlify-cms-app';
	import { mainInfo } from '../config/main-info';
	import { socialMedia } from '../config/social-media';
	import { hours } from '../config/hours';
	import { articles } from '../config/articles';
	import { gallery } from '../config/gallery';
	import { otherInfo } from '../config/other-info';

	import Main from '../components/cms/Main';
	import Article from '../components/cms/Article';
	import Hours from '../components/cms/Hours';
	import Socials from '../components/cms/Socials';

	CMS.registerPreviewTemplate('main-info', Main);
	CMS.registerPreviewTemplate('sections', Article);
	CMS.registerPreviewTemplate('hours', Hours);
	CMS.registerPreviewTemplate('socials', Socials);

	CMS.registerPreviewStyle('/admin/previews.css');

	CMS.init({
		config: {
			backend: {
				name: 'git-gateway',
				branch: 'main', // comment if working locally
			},
			// local_backend: true, // uncomment if working locally
			media_folder: 'src/assets',
			public_folder: '',
			collections: [
				{
					name: 'main-settings',
					label: 'Site Settings',
					files: [mainInfo, socialMedia, hours],
				},
				articles,
				gallery,
				otherInfo,
			],
		},
	});
</script>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<title>Off Center Admin</title>

<body>
	<!-- CMS needs a body to inject content-->
</body>
