---
export interface Props {
	link: string;
}

const { link } = Astro.props as Props;
---

<a href={link} class="hover" rel="noreferrer">
	<slot />
</a>

<style>
	a {
		/* box styling */
		background-color: var(--color-accent);
		border-radius: 0.25em;
		display: inline-block;

		/* box layout */
		padding: 0.3em 0.5em;

		/* text styling */
		color: var(--color-text-lt);
		/*text-decoration: none;*/
		font-family: var(--font-button);
		font-size: 1em;
		text-transform: uppercase;
	}
</style>
