---
import { marked } from 'marked';

export interface Props {
	tagline: string;
}

const { tagline } = Astro.props as Props;

// Markdown renders two newlines, but we only want one, then we render to HTMl
const parsedTagline = marked.parseInline(tagline.replaceAll('\n\n', '\n'));
---

<!-- <script>
	window.addEventListener('load', () => {
		const section = document.getElementById('tagline');
		section?.classList.add('background');
	});
</script> -->
<section id="tagline" style={`--bg: ''`}>
	<p set:html={parsedTagline}></p>
</section>

<style>
	section {
		/* colors */
		background-color: var(--color-primary);
		background-size: cover;
		background-position: center;

		&.background {
			background-image: url('/assets/tagline-bg.webp');
		}

		/* inner layout */
		margin: 0;
		padding: 1em;
		text-align: center;

		/* Font style */
		font-family: var(--font-subheading);
		color: var(--color-text-lt);
		font-size: min(1.2 * var(--font-size-md), 3rem);
		text-shadow: 0 1px 10px rgba(0, 0, 0, 25%);
		letter-spacing: 2px;
	}

	p {
		margin: 0;
		white-space: pre-wrap;
		/* padding: 10px; */
		line-height: normal;
	}

	p > :global(strong) {
		font-weight: inherit;
		font-size: 1.2em;
	}
</style>
