---
let currentYear = new Date().getFullYear();
---

<p class="copyright">
	© Copyright {currentYear}, Off Center Patio & Pub. <span class="wrap-first">
		Built with ♥ by <a
			href="https://lukeshafer.com"
			target="_blank"
			rel="noreferrer"
			>Luke Shafer
		</a>
	</span>
</p>

<style>
	.wrap-first {
		display: inline-block;
	}

	a {
		color: inherit;
	}
</style>
