---
import type { MarkdownInstance } from 'astro';
import { Modal } from 'accessible-astro-components';

export interface LinkFrontmatter {
	title: string;
	linkName: string;
}

const toSnakeCase = (text: string) => text.toLowerCase().replaceAll(' ', '_');

export interface Props {
	links: MarkdownInstance<LinkFrontmatter>[];
	className: string;
}

const { links, className } = Astro.props as Props;
---

<div class={`links ${className}`}>
	<h3>Links</h3>
	<ul>
		{
			links.map(({ frontmatter: { linkName, title }, Content }) => (
				<li>
					<button id={`${toSnakeCase(title)}-modal`}>
						{linkName || title}
					</button>
					<Modal
						title={title}
						triggerId={`${toSnakeCase(title)}-modal`}
						closeText="Close">
						<Content />
					</Modal>
				</li>
			))
		}
	</ul>
</div>

<style>
	.links {
		text-align: right;
	}

	ul {
		display: flex;
		flex-flow: column;
		gap: 1rem;
		list-style: none;
		margin: 0;
	}

	li {
		text-align: right;
	}

	:global(.modal__content) {
		max-height: 80vh;
		overflow-y: scroll;
		overflow-x: hidden;
		gap: 0px !important;
		& > :global(h3) {
			font-size: 2em;
			margin: 0.5rem 0;
		}
	}
</style>
