---
export interface Props {
	id: string;
	open: string;
}

const { id, open } = Astro.props as Props;
---

<button onclick={`window.${id}.showModal()`}>{open}</button>

<div class="wrapper">
	<dialog id={id}>
		<slot name="main" />
		<form method="dialog">
			<slot name="close" />
		</form>
	</dialog>
</div>

<style>
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.wrapper {
		position: absolute;
	}

	dialog {
		position: fixed;
		--placement: 10%;
		left: var(--placement);
		top: var(--placement);
		transform: translate(-5%, -5%);

		transition: all 500ms;

		text-align: left;

		&backdrop {
			position: fixed;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			/* background: rgba(255, 0, 0, 0.1); */
		}
	}
</style>
