---
import '@fontsource/fredoka/600.css';
import '@fontsource/fredoka/variable.css';
import '@fontsource/fredoka-one';
import '@fontsource/montserrat/500.css';
import '@fontsource/montserrat/variable.css';
import '@fontsource/montserrat/variable-italic.css';
import '@fontsource/patua-one';
import '@fontsource/rammetto-one';
import 'normalize.css';

import '../global.css';
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#da532c" />
		<meta name="description" content={description} />
		<meta name="
			generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			is:inline
			type="text/partytown"
			async
			src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</head>

	<body>
		<slot />
	</body>
</html>
